#root {
  display: flex;
  flex-flow:column;
  align-items: center;
  width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

tr:nth-child(odd) {
  background-color: #444;
}
/*
td {
  display: flex;
  flex-flow: row;
}
*/
td > label {
  align-self: end;
}

td > input {
  width: 100%;
}

.form-value {
  align-self: start;
  width: 100%;
}

textarea {
}
